* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 16px;
}

.inner {
  background: rgba(black, 0.25);
  outline: 2px solid rgba(black, 0.25);
  outline-offset: -2px;
  padding: 10px;
}

.inner:before {
  display: block;
  content: " ";
  padding-top: 56%;
}

@media (min-width: 800px) {
  .item {
    float: left;
    width: 25%;
  }
}





// Needed

.swiper-wrapper {
  position: relative;
  overflow: hidden;
}

.swiper-container {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

[data-natural-scroll] {
  &::after {
    display: table;
    content: ' ';
    clear: both;
  }
}

.swiper-prev,
.swiper-next {
  position: absolute;
  z-index: 1;
  margin-top: -22px;
  width: 44px;
  height: 0;
  padding-top: 44px;
  overflow: hidden;
  background: #000;
  border: none;
  top: 50%;

  &.is-hidden {
    z-index: -1;
    visibility: hidden;
  }
}

.swiper-prev {
  left: 0;
}

.swiper-next {
  right: 0;
}
